
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    background-color: azure;
}

button {
    width: 60px;
    height: 60px;
    font-size: x-large;
}

.display {
    height: 80px;
    background-color: aquamarine;
    width: 251px;
}

.zero {
    width: 122px;
    
}